body {
    background-color: #f0e6fa;
}
[class*="example"]{
  min-height:400px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.example-1 {
	background-image: url(https://images.unsplash.com/photo-1523368621624-d768eaf266c8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=87568e8cb747e3d51c88c7e8128416e7&auto=format&fit=crop&w=750&q=80);
}
.example-2 {
	background-image: url(https://images.unsplash.com/photo-1413991394453-3e9a746ae4d3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d30990471fd507c3b20a030d3aca43dd&auto=format&fit=crop&w=750&q=80);
}
.example-3 {
	background-image: url(https://images.unsplash.com/photo-1471253794676-0f039a6aae9d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f14ecac43b622891333687207a46ca83&auto=format&fit=crop&w=750&q=80);
}
.example-4 {
	background-image: url(https://images.unsplash.com/photo-1516463746734-30c21edde5af?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=392a63643b386b23431c363d97c3bfa1&auto=format&fit=crop&w=750&q=80);
}
.jumbotron {
    margin-top: 50px;
    background-color: #e6e6fa;
    font-family: 'Permanent Marker', cursive;
    box-shadow: 0 0 65px rgba(166,166,237, 0.55);
}

div.container {
    padding: 30px 0;
}
.gallery h1 {
    padding-bottom: 30px;
}

.gallery img {
    height: 200px;
    width: auto;
    overflow: hidden;
    border: 3px solid black;
    margin-right: 40px;
    margin-left: 22px;
    padding: 0;
}

.team img {
    height: 120px;
    padding: 0;
    margin: 0;
}
.parrot {
    margin-left: 100px;
}


.landscapes {
    padding: 30px;
}
.landscapes p {
    text-align: justify;
}
.form-height {
    height: 70px;
}
